<div class="container" id="fightbox">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-4"><img class="img-rounded img-responsive" src="{{my_fighter}}" alt="Responsive image"></div>

    <div class="col-sm-2">V.S.</div>
    <div class="col-sm-4"><img src="{{opponent}}" id="opponent" class="img-rounded img-responsive" alt="Responsive image"></div>
</div>
    <button type="button" id="calc-win-button" class="btn btn-primary btn">Fight!!</button>
</div>
