<p class="lead">If this is your first time here generate a new fighter to use in the Arena. Otherwise you can choose a previous fighter your barracks.</p>
<!-- Choose fighter display and set-->
<div id="fighterDisplay" class="col-sm-12">
  <button type="button" id="get-fighter-button" class="btn btn-primary btn">New Fighter</button>
</div>
<!-- /Choose fighter display and set-->
