<h1>Battle Gifs</h1>
<p class="lead">You must be signed in to play.</p>
<!-- Choose fighter display and set-->
<div id="fighterDisplay">
<button type="button" id="get-fighter-button" class="btn btn-primary btn hidden">Get New Fighter</button>
</div>
<!-- /Choose fighter display and set-->
