<button type="button" id="create-battle-button" class="btn btn-primary btn">Play again?</button>
<button type="button" id="get-fighter-button" class="btn btn-primary btn">Get New Fighter</button>
<button type="button" id="get-all-fighter-button" class="btn btn-primary btn">Your Barracks</button>
