
<img class="img-rounded img-responsive center-block" src={{image_original_url}} alt="Responsive image">
<hr>
<div class="col-xs-12">
<button type="button" id="save-fighter-button" class="btn btn-primary btn">Save Figher</button>
<button type="button" id="get-fighter-button" class="btn btn-primary btn">Next</button>
</div>
