      <button type="button" id="save-fighter-button" class="btn btn-primary btn center-block">Save random figher!</button>
      <img class="img-rounded img-responsive center-block" src={{image_original_url}}  alt="Responsive image">
